* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selectedSideNavButton {
  color: #6A70FF !important;
}

.customNav::-webkit-scrollbar-thumb {
  background-color: #94D6FF;
}

.customNav::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  cursor: pointer;
}

.customNav::-webkit-scrollbar-track {
  color: #94D6FF;
}

.MuiCalendarPicker-root {
  background-color: #94D6FF;
}

.MuiPickersCalendarHeader-root {
  background-color: #94D6FF;
}

.MuiCalendarPicker-viewTransitionContainer {
  background-color: #B5E3FF;
}

.MuiPickersDay-dayWithMargin {
  background-color: #94D6FF !important;
}

.MuiPickersDay-dayWithMargin.Mui-selected {
  background-color: #6A70FF !important;
}

.MuiPickersDay-today {
  border: 2px solid #6A70FF !important;
}

.css-3eghsz-PrivatePickersYear-button.Mui-selected {
  background-color: #6A70FF !important;
}